fieldset {
    font-size: 1rem;
    display: flex;
    justify-content: center ;
    align-items: center;
    border: grey;
    color: black;
    margin-bottom: 2rem;
  }

fieldset case {
    text-decoration: none;
    background-color: grey;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: normal;
}

fieldset a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: normal;
}

fieldset a:hover {
    cursor: pointer;
    background-color: grey;
}

contact {
    margin-top: 2rem;
}

contact a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.25rem 1rem;
    border-radius: 10000px;
    border: 2px solid gray;
}

contact h1 {
    display: flex;
    justify-content: center;
}

contact div1 a {
    margin: 1rem;
}

div1 {
    display: flex;
    justify-content: center;
}


body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section1 div3 img {
    border-radius: 50%;
}

section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section2 div1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

section2 div2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid grey ;
    border-top: 2px solid grey;
}

section2 div3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

section2 * img {
    border-radius: 50px;
}

section2 div2 img {
    margin: 2rem;
}

section6 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section6 div1 {
    margin: 2rem;
}

section6 div1 a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.25rem 1rem;
    border-radius: 10000px;
    border: 2px solid gray;
    margin: 1rem;
}

section4 h1 {
    display: flex;
    justify-content: center;
}

section5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem 1rem;
    border-radius: 100px;
    margin-left: 10rem;
    margin-right: 10rem;
}

section5 div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section5 div1 img {
    margin-left: 2rem;
}

section3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section31 {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 100px;
}

section31 div {
    margin: 1rem;
}
